{# Base template for edX-specific pages. #}

{% load render_bundle from webpack_loader %}
{% load staticfiles %}

<!DOCTYPE html>
<html>
<head lang="{{ language_code }}">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock title %} | {{ platform_name }}</title>

    {% if language_bidi %}
        {% render_bundle 'main-rtl' 'css' %}
    {% else %}
        {% render_bundle 'main' 'css' %}
    {% endif %}
</head>

<body>
{% block content %}{% endblock content %}

{% block js %}
    <script src="{% url 'javascript-catalog' %}"></script>
    {% render_bundle 'main' 'js' %}
{% endblock %}
</body>
</html>
